<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="dialog-title text-h4-bold">Замовлення №{{ data.orderNumber }}</h2>

    <div class="close-btn-wrapper">
      <app-close-button (close)="close()"></app-close-button>
    </div>
  </div>

  <div class="dialog-content">
    <div class="items-list">
      @for (item of data.items; track $index; let last = $last) {
        <app-horizontal-product-card
          [name]="item.productName"
          [imageUrl]="item.imageId | imageUrl: 'thumb'"
          [price]="item.unitPrice"
        >
          <ng-container subtitle>
            <div class="subtitle-wrapper">
              <p class="subtitle-text text-body-2-regular">Розмір: {{ item.size }}</p>
              <p class="subtitle-text text-body-2-regular">Кількість: {{ item.quantity }}</p>
            </div>
          </ng-container>
        </app-horizontal-product-card>

        @if (!last) {
          <div class="item-divider"></div>
        }
      }
    </div>
  </div>
</div>
