.dialog-container {
  width: 1000px;
  max-width: 100%;
  padding: 42px 52px 32px 52px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.dialog-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 52px;
}

.dialog-header h2 {
  margin: 0;
  white-space: nowrap;
  color: var(--green-200);
}

.close-btn {
  position: absolute;
  right: -8px;
  top: -8px;
}

.dialog-content {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 52px;
  row-gap: 20px;
  padding: 5px;
}

mat-form-field {
  width: 100%;
}

.dialog-actions {
  margin-top: 24px;
}
