.card-container {
  background-color: var(--white);
  border-radius: 34px;
  padding: 24px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-header,
.card-body,
.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-number {
  color: var(--grey-700);
}

.text-muted {
  color: var(--grey-500);
}

.status-dropdown {
  width: 40%;
}

::ng-deep .status-dropdown .mat-mdc-text-field-wrapper {
  padding: 0 12px;
}
::ng-deep .status-dropdown .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
