.input-container {
  width: 100%;
}

/* 1. Скругление углов (форма "таблетки") */
::ng-deep .input-container .mdc-notched-outline__leading {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  width: 24px !important;
  border-width: 2px !important;
  border-right: none !important;
}

::ng-deep .input-container .mdc-notched-outline__trailing {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-width: 2px !important;
  border-left: none !important;
}

::ng-deep .input-container .mdc-notched-outline__notch {
  border-width: 2px !important;
  border-left: none !important;
  border-right: none !important;
}

/* 2. Изменение цвета рамки при активном состоянии (фокусе) на твой фирменный цвет */
::ng-deep .input-container.mat-focused .mdc-notched-outline__leading,
::ng-deep .input-container.mat-focused .mdc-notched-outline__notch,
::ng-deep .input-container.mat-focused .mdc-notched-outline__trailing {
  border-color: var(--green-200) !important;
}

/* 3. Изменение цвета текста плавающего лейбла при фокусе */
::ng-deep .input-container.mat-focused .mdc-floating-label {
  color: var(--green-200) !important;
}

::ng-deep .input-container input.mat-mdc-input-element {
  padding-left: 8px !important;
}

/* 4. Настройка цвета иконки-глазика */
::ng-deep .input-container mat-icon {
  color: var(--grey-300);
}

::ng-deep .input-container button[matSuffix] {
  margin-right: 12px !important;
}
