<div class="dialog-header">
  <h2 mat-dialog-title class="text-h3-semi-bold">Розмірна сітка</h2>
  <app-close-button class="close-btn" (close)="close()"></app-close-button>
</div>

<mat-dialog-content class="dialog-content">
  <div class="table-responsive">
    <table class="size-table">
      <thead>
        <tr class="text-small-regular">
          <th>Розмір</th>
          <th>Зріст</th>
          <th>Довжина<br />виробу</th>
          <th>Довжина<br />рукава</th>
          <th>Об'єм<br />грудей</th>
          <th>Об'єм<br />бедер</th>
          <th>Об'єм<br />талії</th>
        </tr>
      </thead>
      <tbody class="text-small-regular">
        <tr>
          <th>98</th>
          <td>98</td>
          <td>74</td>
          <td>41</td>
          <td>56</td>
          <td>55</td>
          <td>45</td>
        </tr>
        <tr>
          <th>110</th>
          <td>110</td>
          <td>86</td>
          <td>43</td>
          <td>56</td>
          <td>59</td>
          <td>48</td>
        </tr>
        <tr>
          <th>116</th>
          <td>116</td>
          <td>92</td>
          <td>45</td>
          <td>59</td>
          <td>62</td>
          <td>50</td>
        </tr>
        <tr>
          <th>122</th>
          <td>122</td>
          <td>98</td>
          <td>47</td>
          <td>60</td>
          <td>66</td>
          <td>51</td>
        </tr>
        <tr>
          <th>128</th>
          <td>128</td>
          <td>104</td>
          <td>49</td>
          <td>64</td>
          <td>70</td>
          <td>54</td>
        </tr>
        <tr>
          <th>134</th>
          <td>134</td>
          <td>110</td>
          <td>51</td>
          <td>68</td>
          <td>74</td>
          <td>57</td>
        </tr>
        <tr>
          <th>140</th>
          <td>140</td>
          <td>116</td>
          <td>53</td>
          <td>72</td>
          <td>78</td>
          <td>60</td>
        </tr>
        <tr>
          <th>146</th>
          <td>146</td>
          <td>122</td>
          <td>55</td>
          <td>76</td>
          <td>82</td>
          <td>60</td>
        </tr>
        <tr>
          <th>152</th>
          <td>152</td>
          <td>128</td>
          <td>57</td>
          <td>80</td>
          <td>86</td>
          <td>62</td>
        </tr>
        <tr>
          <th>160</th>
          <td>160</td>
          <td>136</td>
          <td>59</td>
          <td>84</td>
          <td>90</td>
          <td>64</td>
        </tr>
        <tr>
          <th>168</th>
          <td>168</td>
          <td>144</td>
          <td>61</td>
          <td>88</td>
          <td>94</td>
          <td>68</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>
