<header class="header">
  <div class="header-container">
    <div class="logo-section">
      <a routerLink="/" class="logo-link">
        <app-brand-logo theme="green" iconSize="52px"></app-brand-logo>
      </a>
    </div>

    <nav class="navigation-section">
      <app-horizontal-list gap="55px">
        <a routerLink="/" fragment="catalog" class="nav-link text-body-2-regular">Каталог</a>
        <a routerLink="/" class="nav-link text-body-2-regular">Допомога</a>
        <a routerLink="/" class="nav-link text-body-2-regular">Індивідуальне замовлення</a>
      </app-horizontal-list>
    </nav>

    <div class="actions-section">
      <app-horizontal-list gap="7px">
        <app-ui-icon-button
          icon="icon-heart"
          iconSize="24px"
          width="44px"
          height="44px"
          (btnClick)="handleProtectedAction('/favorites')"
        ></app-ui-icon-button>
        <app-ui-icon-button
          icon="icon-cart"
          iconSize="24px"
          width="44px"
          height="44px"
          [badgeCount]="cartItemsCount"
          (btnClick)="handleProtectedAction('/cart')"
        ></app-ui-icon-button>
        <app-ui-icon-button
          icon="icon-user"
          iconSize="24px"
          width="44px"
          height="44px"
          (btnClick)="handleProtectedAction('/profile/orders')"
        ></app-ui-icon-button>
      </app-horizontal-list>
    </div>
  </div>
</header>
