.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: var(--white);
  padding: 40px 0;
  position: sticky;
  top: 24px;
  margin: 24px 0px 24px 20px;
  height: calc(100vh - 48px);
  border-radius: 0 12px 12px 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.user-info {
  padding: 0 32px;
  margin-bottom: 24px;
}

.user-name {
  margin: 0 0 8px 0;
  color: var(--grey-800);
}

.user-email {
  margin: 0;
  color: var(--grey-500);
}

.divider {
  height: 1px;
  background-color: var(--grey-200);
  margin-bottom: 24px;
  width: calc(100% - 64px);
  margin-left: 32px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  flex-grow: 1;
}

.nav-item {
  text-decoration: none;
  color: var(--grey-600);
  padding: 16px 16px 16px 32px;
  transition: all 0.2s ease;
  border-left: 4px solid transparent;
  font-weight: 500;
}

.nav-item:hover {
  background-color: var(--grey-50);
}

.active-link {
  color: var(--green-200);
  font-weight: var(--font-weight-bold, 700);
  background-color: rgba(8, 89, 74, 0.05);
  border-left: 4px solid var(--green-200);
}

.logout-btn {
  display: flex;
  align-items: center;
  margin: 0 32px;
}
