<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-wrapper">
  <div class="form-header">
    <div class="header-left">
      <app-back-button></app-back-button>
      <h1 class="page-title text-h4-bold">{{ pageTitle }}</h1>
    </div>

    <app-main-button label="Зберегти" type="submit"></app-main-button>
  </div>

  <div class="form-grid">
    <div class="left-column">
      <app-ui-card title="Лінійка товарів*">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="productLineId" placeholder="Оберіть лінійку">
            <mat-option value="1">Грація</mat-option>
            <mat-option value="2">Колекція для виступів</mat-option>
            <mat-option value="new">Створити нову лінійку товарів</mat-option>
          </mat-select>

          @if (form.get('productLineId')?.invalid) {
            <mat-error class="text-body-2-regular">{{
              getErrorMessage('productLineId')
            }}</mat-error>
          }
        </mat-form-field>

        @if (form.get('productLineId')?.value === 'new') {
          <mat-form-field appearance="outline" class="w-100 mt-16">
            <input
              matInput
              formControlName="newProductLineName"
              placeholder="Назва нової лінійки"
            />
            @if (form.get('newProductLineName')?.invalid) {
              <mat-error class="text-body-2-regular">{{
                getErrorMessage('newProductLineName')
              }}</mat-error>
            }
          </mat-form-field>
        }
      </app-ui-card>

      <app-ui-card title="Текст">
        <div class="input-group">
          <label class="custom-label text-small-regular">Назва товару*</label>
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              formControlName="name"
              placeholder="Наприклад: Купальник для художньої гімнастики 'Діамант'"
            />

            @if (form.get('name')?.invalid) {
              <mat-error class="text-body-2-regular">{{ getErrorMessage('name') }}</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="input-group">
          <label class="custom-label text-small-regular">Короткий опис</label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput formControlName="shortDescription" rows="3"></textarea>
            @if (form.get('shortDescription')?.invalid) {
              <mat-error class="text-body-2-regular">{{
                getErrorMessage('shortDescription')
              }}</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="input-group">
          <label class="custom-label text-small-regular">Повний опис</label>
          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput formControlName="fullDescription" rows="5"></textarea>
            @if (form.get('fullDescription')?.invalid) {
              <mat-error class="text-body-2-regular">{{
                getErrorMessage('fullDescription')
              }}</mat-error>
            }
          </mat-form-field>
        </div>
      </app-ui-card>

      <app-ui-card title="Ціна*">
        <mat-form-field appearance="outline" class="w-100 price-field">
          <div matPrefix class="currency-prefix">
            @if (isBrowser) {
              <mat-icon svgIcon="icon-hryvnia"></mat-icon>
            }
          </div>

          <input matInput type="number" formControlName="price" placeholder="700,00" />

          @if (form.get('price')?.invalid) {
            <mat-error class="text-body-2-regular">{{ getErrorMessage('price') }}</mat-error>
          }
        </mat-form-field>
      </app-ui-card>

      <app-ui-card title="Розміри*">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="sizes" multiple placeholder="Оберіть розміри">
            <mat-select-trigger>
              <mat-chip-set>
                @for (size of selectedSizes; track size) {
                  <mat-chip (removed)="removeSize(size)">
                    {{ size }}
                    <button
                      matChipRemove
                      (click)="$event.stopPropagation()"
                      [attr.aria-label]="'Видалити ' + size"
                    >
                      @if (isBrowser) {
                        <mat-icon svgIcon="icon-close"></mat-icon>
                      }
                    </button>
                  </mat-chip>
                }
              </mat-chip-set>
            </mat-select-trigger>

            <mat-option value="134 (8-9 р.)">134 (8-9 р.)</mat-option>
            <mat-option value="140 (9-10 р.)">140 (9-10 р.)</mat-option>
            <mat-option value="146 (10-11 р.)">146 (10-11 р.)</mat-option>
            <mat-option value="152 (11-12 р.)">152 (11-12 р.)</mat-option>
          </mat-select>
          @if (form.get('sizes')?.invalid) {
            <mat-error class="text-body-2-regular">{{ getErrorMessage('sizes') }}</mat-error>
          }
        </mat-form-field>
      </app-ui-card>

      <app-ui-card title="Статус*">
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="status">
            <mat-option value="draft">Чернетка</mat-option>
            <mat-option value="published">Опубліковано</mat-option>
          </mat-select>
        </mat-form-field>
      </app-ui-card>
    </div>

    <div class="right-column">
      <app-ui-card title="Головне фото*">
        <app-image-uploader [multiple]="false" (imagesChanged)="onMainPhotoChanged($event)">
        </app-image-uploader>

        @if (form.get('mainPhoto')?.invalid) {
          <div class="custom-error-text text-body-2-regular">
            {{ getErrorMessage('mainPhoto') }}
          </div>
        }
      </app-ui-card>

      <app-ui-card title="Галерея товару">
        <app-image-uploader [multiple]="true" (imagesChanged)="onGalleryChanged($event)">
        </app-image-uploader>
      </app-ui-card>
    </div>
  </div>
</form>
