<div class="register-wrapper" [class.step-two]="currentStep === 2">
  <app-ui-icon-button
    class="back-btn"
    icon="icon-arrow-left"
    height="46px"
    width="46px"
    iconSize="36px"
    [class.visible]="currentStep === 2"
    (btnClick)="prevStep()"
  ></app-ui-icon-button>
  <div class="header-container">
    <h2 class="text-h3-semi-bold">Створіть Акаунт</h2>
  </div>

  <form class="steps-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-step step-1">
      <app-ui-input label="Ім'я" [control]="registerForm.controls.firstName"></app-ui-input>
      <app-ui-input label="Прізвище" [control]="registerForm.controls.lastName"></app-ui-input>
      <app-ui-input
        label="Номер телефону"
        [control]="registerForm.controls.phoneNumber"
      ></app-ui-input>

      <div class="action-btn">
        <app-main-button label="Далі" (btnClick)="nextStep()"></app-main-button>
      </div>
    </div>

    <div class="form-step step-2">
      <app-ui-input
        label="Пошта"
        type="email"
        [control]="registerForm.controls.email"
      ></app-ui-input>
      <app-ui-input
        label="Пароль"
        type="password"
        [control]="registerForm.controls.password"
      ></app-ui-input>
      <app-ui-input
        label="Підтвердження паролю"
        type="password"
        [control]="registerForm.controls.confirmPassword"
      ></app-ui-input>

      <div class="action-btn">
        <app-main-button type="submit" label="Зареєструватися"></app-main-button>
      </div>
    </div>
  </form>
</div>
