<div class="login-wrapper">
  <div class="header-container">
    <h2 class="text-h3-semi-bold">Вхід</h2>
  </div>

  <form class="form-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-ui-input label="Пошта" type="email" [control]="loginForm.controls.email"></app-ui-input>
    <app-ui-input
      label="Пароль"
      type="password"
      [control]="loginForm.controls.password"
    ></app-ui-input>

    <div class="action-btn">
      <app-main-button label="Увійти" type="submit"></app-main-button>
    </div>
  </form>
</div>
