<div class="review-card">
  <div class="image-wrapper">
    <img [src]="review.mainImageUrl" [alt]="review.productName" />
  </div>

  <div class="content-wrapper">
    <div class="card-header">
      <h3 class="product-name text-subtitle-2-bold">{{ review.productName }}</h3>
      <span class="review-date text-small-regular"
        >Опубліковано {{ review.createdAt | date: 'dd.MM.yyyy' }}</span
      >
    </div>

    <div class="rating-wrapper">
      <app-star-rating [rating]="review.rating" size="24px"></app-star-rating>
    </div>

    <div class="review-text-wrapper">
      <p class="review-text text-body-2-regular">{{ review.text }}</p>
    </div>

    <div class="card-actions">
      <!-- Кнопка удаления -->
      <app-sub-button label="Видалити коментар" (btnClick)="onDelete()"></app-sub-button>
    </div>
  </div>
</div>
