@import 'app/theme/palette.css';
@import 'app/theme/typography.css';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.vevada-toast .mdc-snackbar__surface {
  background-color: var(--white) !important;
  min-height: 60px !important;
  border-radius: 20px !important;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12) !important;
}

.vevada-toast .mdc-snackbar__label {
  color: var(--grey-700) !important;
  font-family: inherit;
}

.vevada-toast .mat-mdc-snack-bar-action {
  color: var(--green-100) !important;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.5px;
}
